<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!---css--->
	<link href="/front/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/front/css/style.css" rel='stylesheet' type='text/css' />
	<!---css--->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!---js--->
	<script src="/front/js/jquery-1.11.1.min.js"></script>
	<script src="/front/js/bootstrap.js"></script>
	<!---fonts-->
	<link href='/front/css/google1.css' rel='stylesheet' type='text/css'>
	<link href='/front/css/google2.css' type='text/css'>
	<link href='/front/css/google3.css' rel='stylesheet' type='text/css'>
	<!---fonts-->
	<script src="/front/js/responsiveslides.min.js"></script>
	<script>
        $(function () {
            $("#slider").responsiveSlides({
                auto:true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                pager:true,
            });
        });
	</script>
	<link href="/front/css/owl.carousel.css" rel="stylesheet">
	<script src="/front/js/owl.carousel.js"></script>
	<script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                items : 1,
                lazyLoad : true,
                autoPlay : true,
                navigation : false,
                navigationText :  false,
                pagination : true,
            });
        });
	</script>
</head>
<body>

	<!---header--->
	<div th:replace="front/commons/header"></div>
	<!---header--->
	<!---banner--->
	<div class="banner-section">
		<div class="container">
			<h2>详细内容</h2>
		</div>
	</div>
	<!---banner--->
	<div class="content">
		<div class="blog-section">
				<div class="container">
					<div class="blog-grids">
						<div class="col-md-9 blog-grid">
							<div class="blog">
								<h3>[[${news.title}]]</h3>
								<p>[[${news.pubTime}]] / Admin / [[${news.commentNum}]]条评论</p>
								<img th:src="'/path/img/'+${news.img}" class="img-responsive" alt=""/>
								<p>[[${news.content}]]</p>
							</div>
							<!---RESPONSES--->
							<!--<div class="coment-form">
								<div class="container">
									<h3>发表你的评论</h3>
									<form>
										<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '...';}" required=""></textarea>
										<input type="submit" value="提交" >
									</form>
								</div>
							</div>-->
						</div>
						<div class="col-md-3 blog-grid1">
							<div class="categ">
								<h3>分区</h3>
								<ul>
									<li th:each="partition:${partitions}"><a th:href="@{findNewsByPartition(name=${partition.name})}">[[${partition.name}]]</a></li>
								</ul>
							</div>
							<div class="tags">
								<h4>标签</h4>
								<ul>
									<li th:each="tag:${tags}"><a th:href="@{findNewsByTag(name=${tag.name})}">[[${tag.name}]]</a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		<!---footer--->
		<div th:replace="front/commons/footer"></div>
		<!---footer--->

	</div>


</body>
</html>