<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="header-section" th:fragment="header">
        <nav class="navbar navbar-default">
            <!---Brand and toggle get grouped for better mobile display--->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <h1><a href="index.html"><span>品 </span>如</a></h1>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">主页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/forrent">租房</a></li>
                    <li class="dropdown">
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="agents.html">Agents</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="faqs.html">FAQs</a></li>
                            <li><a href="idxpress.html">IDXpress</a></li>
                            <li><a href="terms.html">Terms of Use</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </li>
                    <li><a href="/news">新闻热点</a></li>
                    <li><a href="/recommend">猜你喜欢</a></li>
                    <!--<li><a href="codes.html">常见问题</a></li>-->
                    <li th:if="${session.SPRING_SECURITY_CONTEXT}==null"><a href="/back/login">登陆</a></li>
                    <li th:if="${session.SPRING_SECURITY_CONTEXT}!=null"><a href="/back/index">后台空间</a></li>
                    <li th:if="${session.SPRING_SECURITY_CONTEXT}!=null"><a href="/logout">注销</a></li>
                </ul>
                <!--<div class="phone">-->
                <!--<span><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>1-999-4563-555</span>-->
                <!--</div>-->
                <div class="clearfix"></div>
            </div>
        </nav>
    </div>
    </div>
</body>
</html>